* {
  margin: 0;
  padding: 0;
}

:root {
  /* background colors */
  --main-bgcolor: white;
  --other-bgcolor: #ffc98d;
  --accessory-color: #e65e72;
  --nav-txt-color: #cd283b;
  --info-quote-color: #1f2937;

  /* Text */
  --hero-main-text: 48px;
  --info-quote-text: 36px;
  --logo-text: 24px;
  --secondary-text: 18px;
}

body {
  background: var(--main-bgcolor);
  color: black;
  font-family: "Roboto";
  min-width: 600px;
}

/* All container(s) have a max-width of 900px */

.container {
  box-sizing: border-box;
  max-width: 900px;
  margin: 0 auto;
}

/********** Header *************************/
.header {
  display: flex;
  padding: 20px;
}

.logo {
  font-size: var(--logo-text);
  font-weight: 900;
  margin-right: auto;
}

.header-nav {
  display: flex;
  list-style: none;
  text-transform: uppercase;
}

.header-nav li {
  margin-left: 15px;
  font-size: var(--secondary-text);
}

a {
  text-decoration: none;
  color: var(--nav-txt-color);
}

/***************Page Hero *********/
.hero-wrapper {
  display: flex;
}

.hero {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 60px 20px;
  gap: 40px;
  align-content: center;
}

.box {
  display: flex;
  flex: 1;
}

.hero-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  font-size: var(--secondary-text);
}

.hero-text h1 {
  font-size: var(--hero-main-text);
  font-weight: 900;
}

.hero-img {
  height: 100%;
  display: flex;
  align-items: center;
  font-size: var(--secondary-text);
}

.hero-img img {
  width: 100%;
  height: 250px;
}
.cta-btn {
  background-color: var(--accessory-color);
  color: var(--other-bgcolor);
  border: 2px solid var(--accessory-color);
  border-radius: 5px;
  padding: 6px 20px;
  font-size: 18px;
  font-weight: 900;
}

/****** Info Section *************/
.info-wrapper {
  background-color: #fdeedb;
  color: var(--info-quote-color);
  font-size: var(--secondary-text);
}

.info {
  text-align: center;
  padding: 60px 20px;
}

.info > h2 {
  font-size: var(--info-quote-text);
  margin-bottom: 40px;
  font-weight: 900;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.card {
  width: 175px;
}

.card img {
  height: 150px;
  width: 150px;
  padding: 10px;
  border: 6px solid var(--accessory-color);
  border-radius: 10px;
}

/******** Inspirational Quote ********/
.quote-wrapper {
  background-color: var(--other-bgcolor);
  color: var(--info-quote-color);
}

.quote {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  flex-direction: column;
  padding: 60px 20px;
}

blockquote {
  font-style: italic;
  font-size: var(--info-quote-text);
  font-weight: 200;
  padding: 0 40px;
}

.signature {
  align-self: flex-end;
  margin-right: 40px;
  font-weight: 600;
}

/**** Call to Action (CTA) ******/

.cta-wrapper {
  background-color: var(--other-bgcolor);
  font-size: var(--secondary-text);
  padding: 60px 20px;
}

.cta {
  background-color: var(--main-bgcolor);
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 30px 0;
  border-radius: 8px;
}

.action-text {
  font-weight: 600;
  font-size: var(--secondary-text);
}

.action-text > p {
  font-weight: 200;
  font-size: 16px;
}
.cta-btn.two {
  border: 1px solid white;
}

/***** Footer *****/

footer {
  text-align: center;
  padding: 40px 0;
  font-size: var(--secondary-text);
}
